.google-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22%;

}

.top-container {
    background-color: rgb(238, 238, 238);
    width: 1200px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;


}

.text {
    text-align: center;
    padding-top: 0.2px;
    padding-bottom: 0;
    margin: 1px auto;

}

.text-box {
    display: block;
    margin: auto;
    width: 30%;

}

.submit-box {
    width: 100px;
    margin-left: 500px;
}

.table {

    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#footer {
    text-align: center;
    font-size: 0.8rem;
}

a:hover {
    color: #b3b1bb;
}